
<%- include("partials/header"); -%>

<h1 style=>Why blogging ?</h1>
<p style="font-size: larger;"> <%= startingContent %> </p>
<br>
<p>Write whatever you want and let the world know what you think.. !! </p>
<ul class="nav navbar-nav navbar-right">
    <li id="home"><a href="/home" style="color:red;"><strong>Check out Blogs</strong> </a></li>
    <li id="compose"><a href="/compose" style="color: red;"><strong>COMPOSE</strong> </a></li>
   
  </ul>



<%- include("partials/footer"); -%>
